@import url("https://fonts.googleapis.com/css?family=Bree+Serif|Poppins|Source+Sans+Pro|Montserrat:400,900&display=swap");
@import "./themed_button.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", "Poppins", sans-serif;
}
body {
  background: #e0e8ff;
}

.order_container {
  display: flex;
  flex-basis: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url("src/images/pattern-background-mobile.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  * {
    display: inherit;
  }

  .payment_button {
    @include themed_button;
  }

  .order_box{
    background-color: white;
    //justify-content: space-between;
    flex-direction: column;
    flex-basis: 100%;
    border-radius: 10px;
    max-width: 250px;
    height: 100%;
    max-height: 440px;
    //border: 3px solid blue;
    //border-width: 3px;

    .order_image{
      //margin: 5% 5% 0;
        height: 40%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        object-fit: cover;
        overflow: hidden;
        //background-image: url("/src/images/illustration-hero.svg");
        background-image: url("src/images/illustration-hero.svg");
        background-size: cover;
        background-position: center;
        //border: 3px solid rgb(247, 110, 247);
    }
  
    .order_info{
      //border: 3px solid rgb(105, 199, 64);
      flex-direction: column;
      padding: 20px;
      height: 100%;
      justify-content: space-evenly;
      align-items: center;
      

      h2{
        font-family: sans-serif;
        width: bold;
        font-size: 20px;
      }

      p{
        font-family: sans-serif;
        font-size: 12px;
        text-align: center;
        color: #9296aa;
        line-height: 20px;
      }

      .order_info_group{

        border-radius: 5px;
        width: 100%;
        height: 60px;
        align-items: center;
        justify-content: space-around;
        background-color: #f8f9fe;

        img{
          height: 35px;
        }

        >div{
          flex-direction: column;

          h3{
            font-family: sans-serif;
            font-size: 12px;
          }
        }

        p{
          a{
            color: blue;
            font-weight: bold;
            font-family: sans-serif;
          }
        }

      }
      p{
        a{
          font-family: sans-serif;
          font-weight: bold;
          color: rgb(116 128 151);
          text-decoration: none;
        }
      }
    }
  }


}